.container_headerHome {
	position: fixed;
	font-size: 16px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	background: rgb(15, 15, 15);
	color: rgb(255, 255, 255);
	display: flex;
	z-index: 10;
	.container_tiruloHeader {
		flex-grow: 1;
		padding: 0.9375em 0.625em;
		background: rgb(15, 15, 15);
		h2 {
			font-size: 1.5em;
		}
	}
	.container_btn_sing_mobile {
		flex-grow: 0;
		display: flex;
		align-items: center;
		.subMeni_mobile {
			position: absolute;
			width: 100%;
			height: 100vh;
			top: 100%;
			right: 0px;
			background: rgb(0, 0, 0);
			color: #ffffff;
			z-index: -1;
			transform: translateY(-100vh);
			&::before {
				content: '';
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 1px;
				border: none;
				background: #808080;
			}
			button {
				display: block;
				width: 100%;
				color: #ffffff;
				background: transparent;
				padding: 1.25em 0.625em;
				text-align: left;
				border: none;
				transition: color 0.3s;
				&:hover {
					cursor: pointer;
					color: #808080;
				}
			}
		}
	}
	.container_btn_sing_web {
		display: none;
	}
}
#btn_despliegaMenu {
	width: 1.875em;
	height: 1.875em;
	color: #ffffff;
	background: transparent;
	border: none;
	transition: color 0.3s;
	margin-right: 1.875em;
	outline: none;
	svg {
		width: 100% !important;
		height: 100%;
	}
}

#btn_despliegaMenu:hover {
	cursor: pointer;
	color: #808080;
}

.showSubmenu {
	animation-name: showSubM;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
@keyframes showSubM {
	0% {
		transform: translateY(-100vh);
	}
	100% {
		transform: translateY(0px);
	}
}

.hideSubmenu {
	animation-name: hideSubM;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
@keyframes hideSubM {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-100vh);
	}
}
@media screen and (min-width: 650px) {
	.container_headerHome {
		font-size: 20px;
		.container_btn_sing_mobile {
			display: none;
		}
		.container_btn_sing_web {
			display: flex;
			align-items: center;
			padding: 0px 1.25rem;
			button {
				padding: 0.625em 1.25em;
				transition: color 0.5s, border 0.5s;
				outline: none;
				font-size: 0.7em;
			}
			#btn_singIn {
				background: rgb(0, 0, 0);
				border: none;
				color: #ffffff;
				margin-right: 0.625em;
				&:hover {
					cursor: pointer;
					color: #808080;
				}
			}
			#btn_singUp {
				background: transparent;
				border: solid 1px #ffffff;
				color: #ffffff;
				&:hover {
					cursor: pointer;
					color: #808080;
					border: solid 1px #808080;
				}
			}
		}
	}
}
