.container_headerHome {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: rgb(15, 15, 15);
	color: rgb(255, 255, 255);
	display: flex;
	font-size: 16px;
}
.container_tiruloHeader {
	flex-grow: 1;
	padding: 15px 10px;
	background: rgb(15, 15, 15);
	h2 {
		font-size: 2em;
	}
}
.container_btn_sing_mobile {
	flex-grow: 0;
	display: flex;
	align-items: center;
}
.container_btn_sing_web {
	display: none;
}
#btn_despliegaMenu {
	width: 30px;
	height: 30px;
	color: #ffffff;
	background: transparent;
	border: none;
	transition: color 0.3s;
	margin-right: 30px;
	outline: none;
	svg {
		width: 100% !important;
		height: 100%;
	}
}

#btn_despliegaMenu:hover {
	cursor: pointer;
	color: #808080;
}
.subMeni_mobile {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 65px;
	right: 0px;
	background: rgb(0, 0, 0);
	color: #ffffff;
	z-index: -1;
	transform: translateY(-100vh);
	&::before {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 1px;
		border: none;
		background: #808080;
	}
	button {
		display: block;
		width: 100%;
		color: #ffffff;
		background: transparent;
		padding: 20px 10px;
		text-align: left;
		border: none;
		transition: color 0.3s;
		&:hover {
			cursor: pointer;
			color: #808080;
		}
	}
}

.showSubmenu {
	animation-name: showSubM;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
@keyframes showSubM {
	0% {
		transform: translateY(-100vh);
	}
	100% {
		transform: translateY(8px);
	}
}

.hideSubmenu {
	animation-name: hideSubM;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
@keyframes hideSubM {
	0% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(-100vh);
	}
}
@media screen and (min-width: 650px) {
	.container_btn_sing_mobile {
		display: none;
	}
	.container_btn_sing_web {
		display: flex;
		align-items: center;
		padding: 0px 20px;
		button {
			padding: 10px 20px;
			transition: color 0.5s, border 0.5s;
			outline: none;
		}
	}

	#btn_singIn {
		background: rgb(0, 0, 0);
		border: none;
		color: #ffffff;
		margin-right: 10px;
		&:hover {
			cursor: pointer;
			color: #808080;
		}
	}
	#btn_singUp {
		background: transparent;
		border: solid 1px #ffffff;
		color: #ffffff;
		&:hover {
			cursor: pointer;
			color: #808080;
			border: solid 1px #808080;
		}
	}
}
