.container_contacto {
}
.container_contacto button {
	border: none;
	outline: none;
	padding: 10px 10px;
	margin: 5px 0px;
	width: 90%;
	text-align: left;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	margin: 10px 10px;
	box-sizing: border-box;
}

.container_contacto button:hover {
	cursor: pointer;
}
