.myAlert {
	position: fixed;
	bottom: 10px;
	width: 90%;
	height: auto;
	margin: 0px auto;

	color: rgb(255, 255, 255);
	padding: 15px 50px;
	border-radius: 2px;
	left: 0;
	right: 0;
	text-align: center;
	animation-name: showAler;
	animation-duration: 1s;
	animation-fill-mode: both;
}
.escondeAlert {
	animation-name: hiddenAler;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes showAler {
	0% {
		transform: translateY(500px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes hiddenAler {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(500px);
	}
}
@media screen and (min-width: 650px) {
	.myAlert {
		width: 500px;
	}
}
